@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Nanum+Gothic&display=block');
* {
    margin: 0;
}

body {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: aliceblue;
    font-family: 'Nanum Gothic', sans-serif;
    display: flex;
    flex-direction: column;
}

.turn-label,
.result-label {
    margin-top: 5%;
    font-family: 'Nanum Gothic', sans-serif !important;
}

.result-label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

input[type="button"]:hover,
input[type="submit"]:hover {
    cursor: pointer;
}

.result-label input {
    border-style: none;
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
    padding: 5px;
}

.result-label input:hover {
    background-color: #749ee8;
}

.result {
    font-size: 24px;
    font-weight: bold;
}

.grid-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.grid {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    border: 1px solid black;
}

.grid-box {
    border: 1px solid gray;
    width: 125px;
    height: 125px;
    font-size: 75px;
    text-align: center;
    align-items: center;
    display: inherit;
    font-weight: bold;
}

.hidden {
    display: none;
}

.hide {
    visibility: hidden;
}

.modal {
    position: absolute;
    background-color: #00000080;
    height: 100vh;
    width: 100vw;
    top: 0;
}

.modal-container {
    font-family: sans-serif;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;
    height: 300px;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.modal-wrapper {
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 25px;
}

h1,
h2 {
    font-family: 'Bangers', cursive;
    text-align: center;
}

.grouping {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.grouping input[type="text"] {
    width: 200px;
}

.submit {
    width: 100%;
    display: flex;
    flex-basis: 20%;
}

.submit input {
    width: 100%;
    background-color: rgb(104, 196, 253);
    font-family: 'Bangers', cursive;
    border-style: none;
    font-size: 24px;
}

.submit input:hover {
    background-color: lightskyblue;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: gray;
    color: white;
}

small {
    display: flex;
    gap: 5px;
}

small span {
    margin: auto;
    font-weight: bold;
}

.github {
    color: black;
}

.website {
    color: white;
}