@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Nanum+Gothic&display=block');
* {
    margin: 0;
}

body {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: aliceblue;
    font-family: 'Nanum Gothic', sans-serif;
    display: flex;
    flex-direction: column;
}

.turn-label {
    margin-top: 5%;
    font-family: 'Nanum Gothic', sans-serif !important;
}

input[type="button"]:hover,
input[type="submit"]:hover {
    cursor: pointer;
}

input[type="text"] {
    border-style: none;
    background-color: whitesmoke;
    border-bottom: 1px solid gray;
    outline: none;
}

input[type="text"]:focus {
    border-bottom-color: rgb(90, 90, 90);
}

.grid-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.grid {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    border: 1px solid black;
}

.ai-is-playing {
    pointer-events: none;
}

.grid-box {
    border: 1px solid gray;
    width: 125px;
    height: 125px;
    font-size: 75px;
    text-align: center;
    align-items: center;
    display: inherit;
    font-weight: bold;
    cursor: pointer;
}

.taken {
    cursor: not-allowed;
}

.hidden {
    display: none;
}

.hide {
    visibility: hidden;
}

.modal,
.end-modal {
    position: absolute;
    background-color: #00000080;
    height: 100vh;
    width: 100vw;
    top: 0;
}

.ai-is-playing {
    background-color: rgba(128, 128, 128, 0.5);
}

.ai-playing-modal {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
}

.ai-playing-modal p {
    font-family: 'Nanum Gothic', sans-serif;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 10px black, -1px -1px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.end-modal {
    background-color: #000000c0;
    opacity: 0;
}

.end-modal:not(.hide) {
    opacity: 1;
    transition: opacity 1s;
}

.modal-container {
    font-family: sans-serif;
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.challenge {
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;
}

.end {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 36px;
    color: white;
    text-shadow: 1px 1px 20px black, -1px -1px 20px black;
    gap: 25%;
    align-items: center;
}

#result-subtext {
    font-size: 22px;
}

.modal-wrapper {
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 25px;
}

h1,
h2 {
    font-family: 'Bangers', cursive;
    text-align: center;
}

.box-wrapper,
.player1-box,
.player2-box,
.grouping {
    display: flex;
}

.box-wrapper {
    gap: 10px;
}

.player1-box,
.player2-box {
    flex-direction: column;
    flex: 1;
    border: 1px solid black;
    border-radius: 3px;
    gap: 10px;
    padding: 10px;
}

.box-name {
    display: table;
    background-color: whitesmoke;
    margin: -20px auto 0 -5px;
    padding: 0 5px;
    font-weight: bold;
}

.player-name {
    margin-right: auto;
}

.grouping {
    flex-direction: column;
}

.marks {
    display: flex;
    gap: 20px;
}

.grouping.ai {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    gap: 10px;
}

.grouping input[type="text"] {
    width: 200px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.switch input:checked+.slider {
    background-color: #2196F3;
}

.switch input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

.switch input:checked+.slider:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
}

.submit {
    width: 100%;
    display: flex;
    flex-basis: 20%;
}

.submit input {
    width: 100%;
    background-color: rgb(104, 196, 253);
    font-family: 'Bangers', cursive;
    border-style: none;
    font-size: 24px;
}

.submit input:hover {
    background-color: lightskyblue;
}

.end input {
    border-style: none;
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    width: 50%;
}

.end input:hover {
    background-color: #749ee8;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: gray;
    color: white;
}

small {
    display: flex;
    gap: 5px;
}

small span {
    margin: auto;
    font-weight: bold;
}

.github {
    color: black;
}

.website {
    color: white;
}